<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include shared/styles.html %}
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:700,400|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- build:js /scripts/modernizr.js -->
      <script src="/vendor/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>

  <body class="{{ page.body_class }}">

    <header id="header-primary" class="header-primary">
      <div class="container">
        <a href="/" title="Good Measure Meals™">
          <h1 id="logo-header" class="logo">Good Measure Meals™</h1>
        </a>
        {% if page.body_class == "pzi" %}
        <h1 id="logo-header" class="logo">Good Measure Meals®</h1>

        <nav class="nav-primary">
          <a class="nav-item scroll-link" title="The Rules" href="#rules">The Rules</a>
          <a class="nav-item scroll-link" title="The Challenge Pack" href="#challenge">The Challenge Pack</a>
          <a class="nav-item scroll-link" title="Real Stories" href="#relationship">Real Stories</a>
          <a class="nav-item scroll-link" title="GMM Difference" href="#difference">GMM Difference</a>
        </nav>
        {% else %}
        <nav class="nav-primary">
          <a class="nav-item scroll-link" title="Eat Well " href="#eat-well">Eat Well </a>
          <a class="nav-item scroll-link" title="Eat Well " href="#eat-well">Eat Well</a>
          <a class="nav-item scroll-link" title="Stay Healthy" href="#stay-healthy">Stay Healthy</a>
          <a class="nav-item scroll-link" title="Do Good" href="#do-good">Do Good</a>
          <a class="nav-item scroll-link" title="Let's Go" href="#lets-go">Let's Go</a>
        </nav>
        {% endif %}
      </div>
    </header>

    {% if page.body_class != "pzi" %}
      {% include section/sneak-peek.html %}
    {% endif %}

    <main id="content-primary" class="content-primary">
      {{ content }}
    </main>

    <footer id="footer-primary" class="footer-primary">
      <div class="container">
        <div class="logo-wrap">
          <h1 class="logo">Good Measure Meals</h1>
          <h2 class="tagline">Choose your favorite meals and Order Today!</h2>
        </div>
        <div class="legal">
          <nav class="nav-social">
            <a class="nav-item" href="#" title=""><i class="fa fa-facebook"></i></a>
            <a class="nav-item" href="#" title=""><i class="fa fa-instagram"></i></a>
            <a class="nav-item" href="#" title=""><i class="fa fa-pinterest"></i></a>
            <a class="nav-item" href="#" title=""><i class="fa fa-twitter"></i></a>
            <a class="nav-item" href="#" title=""><i class="fa fa-wordpress"></i></a>
          </nav>
          <p class="copyright">©2015 Good Measure Meals®</p>
        </div>
      </div>
    </footer>

    {% include shared/authorization.html %}
    {% include shared/scripts.html %}
    {% include shared/google-analytics.html %}
  </body>
</html>
