<section class="page-content challenge">
  <div class="container">
    <h1 class="section-headline">3 Month Challenge Pack! <span>You get three months of healthy meals</span></h1>
    <p>First Month: 7 days a week, 3 meals a day.</p>
    <p>Months 2 &amp; 3: 5 days a week, 3 meals a day PLUS One Comprehensive Nutrition Consult and Body Composition Analysis with a Registered Dietitian AND Two follow-up Body Composition Analyses with a Registered Dietitian.</p>

    <a class="btn" href="#" title="Order today">Order today</a>
  </div>
</section>
