<section class="triptych page-content difference">
  <div class="container">
    <h1 class="section-headline">So what makes Good Measure Meals<sup>™</sup> so different?</h1>
    <h2 class="sub-head">And what’s the skinny on this Commit to Lean movement anyway?</h2>
    <article class="preview">
      <img src="../images/program-preview/eat-well.jpg" title="">
      <div class="preview-content">
        <h3 class="headline"><span>EAT WELL</span>Meal Plans</h3>
      </div>
    </article>

    <article class="preview">
      <img src="../images/program-preview/stay-healthy.jpg" title="">
      <div class="preview-content">
        <h3 class="headline"><span>STAY HEALTHY</span>Nutrition &amp; Fitness Support</h3>
      </div>
    </article>

    <article class="preview">
      <img src="../images/program-preview/do-good.jpg" title="">
      <div class="preview-content">
        <h3 class="headline"><span>DO GOOD</span>Community Impact</h3>
      </div>
    </article>
  </div>
</section>
