<section class="page-content hero">
  <div class="container">
    <h1 class="hero-headline">Commit To Lean</h1>
    <h2 class="hero-subhead">You got it! That’s right! Drop it! And Win!</h2>
    <p>Get the inches down, round out that derrière and get into those jeans!
      Sharpen up those curves that make you beautifully unique, and win a new pair of PZI jeans!</p>

    <a class="btn" href="#" title="Join the Commit to Lean movement today">Join the Commit to Lean movement today</a>
  </div>
</section>
