<section class="page-content relationship">
  <div class="container">
    <h1 class="section-headline">We all have our story. What’s Yours?</h1>

    <h2 class="headline">What is your relationship with your jeans?</h2>

    <div class="owl-carousel">
      <div class="item new-customer">
        <blockquote>
        “Its a choking relationship!  Or more like a love/hate relationship...I love them on the hanger - hate trying to get them on my body.”
          <h3 class="author">New GMM Customer</h3>
        </blockquote>
      </div>

      <div class="item customer">
        <blockquote>
        “My jeans and I have a great relationship.  They are not too tight on me and they look great on me.  There are no indentations on my body when I take them off (that's a tell tell sign).”
          <h3 class="author">Good Measure Meals Customer</h3>
        </blockquote>
      </div>
     </div>
    <p class="disclaimer">Answers from real women who have joined the Commit To Lean movement</p>
  </div>
</section>
