<section class="page-content win-it">
  <div class="container">
    <h1 class="section-headline">Are You In It to Win It?</h1>
    <h2 class="sub-head">Get started with your Commit to Lean package today for a chance to win a pair of victory jeans from the connoisseurs of blue jean craftsmanship for curves, PZI Jeans!</h2>

    <h3>Entering is easy:</h3>
    <ul class="triptych">
      <li class="item">Purchase your Commit to Lean <strong>three month challenge pack</strong> by August 15th</li>
      <li class="item">We will team you up with a personal Nutrition coach who will help you stay on track with dietary goals</li>
      <li class="item">Use hashtag <span class="hashtag">#gmmvictoryjeans</span> to share the story of your journey on Twitter, Facebook, Instagram and Pintrest.</li>
    </ul>
  </div>
</section>
