body {
  background-color: $black;
  margin-bottom: 63px;
}

.header-primary {
  @include clearfix;
  overflow: hidden;
  height:95vh;
  position: relative;
  width: 100%;

  .logo {
    @include hide-text;
    background-image: url("../images/logo/logo-header.png");
    background-attachment: fixed;
    background-color: rgba($black, 0.35);
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: 410px 313px;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .phone-wrap {
    bottom: 3em;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 2;

    .phone-number {
      color: $white;
      font-size: .85em;
      font-weight: 400;
      text-transform: uppercase;

      .number {
        font-size: 1.5em;
        font-weight: 800;
        display: block;
      }
    }

    .scroll-link {
      border: 1px solid $white;
      border-radius: 50%;
      color: $white;
      display: block;
      height: 48px;
      margin: 0 auto;
      padding: .75em;
      text-align: center;
      width: 48px;
    }
  }
}


.header-primary {
  .bgvid {
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    right: 0;
    width: auto;
    z-index: -1;
  }
}


.btn {
  @include transition(all .35s ease-in-out);
  border: 1px solid $white;
  padding: .75em 2.5em;
  color: $white;
  display: inline-block;

  &:hover {
    background: $blue;
    background-color: rgba($blue, .85);
    border: 1px solid $blue;
    color: $white;
  }

  &.small {
    padding: .35em 1.75em;
  }
}


.container {
  @include outer-container;
  padding: 0 1em;

  @include media($x-large) {
    padding: 0;
  }
}


.content-primary {
  background-color: $white;
  position: static;

  .page-content {
    padding: 3.5em 0;

    @include media($medium) {
      padding: 5em 0;
    }

    @include media($large) {
      padding: 7em 0;
    }
  }
}


.section-headline {
  font-family: 'Amatic SC', cursive;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 3.5em;
  text-align: center;
}


.triptych {
  article {
    @include media($medium) {
      @include span-columns(4);
    }
  }
}

.footer-primary {
  background: $orange;
  color: $white;
  padding: 1em 0;

  @include media($small-only) {
    text-align: center;
  }

  .logo {
    @include hide-text;
    background-image: url("../images/logo/logo-gmm.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 0;
    height: 52px;
    width: 127px;

    @include media($medium) {
      @include span-columns(6);
      background-size: 127px 52px;
      background-position: left center;
    }
  }

  .legal {
    @include media($medium) {
      @include span-columns(6);
      text-align: right;
    }

    .nav-social {
      margin-bottom: .5em;

      .nav-item {
        border: 1px solid rgba($white, .75);
        color: $white;
        color: rgba($white, .75);
        display: inline-block;
        font-size: 1.25em;
        height: 32px;
        padding: 0 .25em;
        text-align: center;
        width: 32px;

        &:hover {
          background-color: $white;
          color: $orange;
          border: 1px solid $white;
        }
      }
    }

    .copyright {
      font-size: .85em;
      margin-bottom: 0;
    }
  }
}
