.header-primary {
  @include clearfix;
  background: $orange;
  color: $white;
  left: 0;
  opacity: .95;
  padding: 1em;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  .logo {
    float: left;
    margin-bottom: 0;
  }

  .phone-number {
    float: right;
    margin-bottom: 0;
  }
}


.container {
  @include outer-container;
  padding: 0 1em;

  @include media($x-large) {
    padding: 0;
  }
}


.content-primary {
  .page-content {
    padding: 3.5em 0;

    @include media($medium) {
      padding: 5em 0;
    }

    @include media($large) {
      padding: 7em 0;
    }
  }
}


.triptych {
  article {
    @include media($medium) {
      @include span-columns(4);
    }
  }
}
