.pzi {
  .hero {
    @extend %hero;
    background-image: url('../images/hero-pzi/bg-hero-pzi.jpg');
    background-size: cover;
    padding: 10em 1em 8em;
    text-align: center;

    @include media($medium) {
      padding: 7em 1em;
      height:100vh;
    }

    @include media($large) {
      max-height: 700px;
    }

    .hero-subhead {
      font-family: 'Amatic SC', cursive;
      font-size: 2.5em;
      margin-bottom: .25em;
    }

    p {
      margin: 0 auto 1.5em;
      max-width: 35rem;
    }
  }
}
