.pzi {
  .hero {
    @extend %hero;
    background-image: url('../images/hero-pzi/bg-hero-pzi.jpg');
    background-size: cover;
    padding: 10em 1em 8em;
    text-align: center;

    @include media($medium) {
      padding: 11em 1em;
      height:95vh;
    }

    @include media($large) {
      padding: 13em 0;
      max-height: 700px;
    }

    @include media($x-large) {
      padding: 12em 0;
    }

    p {
      margin: 0 auto 1.5em;
      max-width: 35rem;
    }
  }
}
