.win-it {
  .section-headline {
    margin: 0 auto .25em;
  }

  .logo-pzi {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    padding: 1.5em 0;

    @include media($medium) {
      max-width: 350px;
      padding: 2.5em 0;
    }
  }

  .hashtag {
    color: $blue;
  }

  .triptych {
    padding: 2em 0 0;

    .item {
      padding: 0 1em;

      .number {
        float: left;
        font-family: 'Amatic SC', cursive;
        font-size: 5em;
        font-weight: 900;
        line-height: 1;
        margin-right: .25em;
        text-align: center;
      }
    }
  }
}
