@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(1080);

// Neat Breakpoints
$x-small-only:  new-breakpoint(max-width em(320) 12);
$small:         new-breakpoint(min-width em(320) 12);
$small-only:    new-breakpoint(max-width em(699) 12);
$medium:        new-breakpoint(min-width em(700) 12);
$medium-below:  new-breakpoint(max-width em(919) 12);
$large:         new-breakpoint(min-width em(920) 12);
$x-large:       new-breakpoint(min-width em(1020) 12);
$x-large-below: new-breakpoint(max-width em(1100) 12);
