<section id="get-moving" class="get-moving page-content">
  <div class="container">
    <h1 class="section-headline">LET'S GO!</h1>
    <p class="subhead">Thinking about a making a commitment to an all new you? There's no time like NOW!
      Select one of the Good Measure Meal packages below and Commit to Lean in 2015!</p>
      <div class="tier">
        <div class="hexagon">
          <i class="fa fa-phone"></i>
        </div>
        <h3 class="headline">Package 1: <span>SNEAK PEEK</span></h3>
        <p>Sign up for a FREE 10 min consult with a registered dietitian to discuss how the plan aligns with dietary health goals</p>
        <a href="#" title="#" class="btn">Commit Now</a>
      </div>

      <div class="tier half">
        <div class="hexagon">
          <i class="fa fa-heart-o"></i>
        </div>
        <h3 class="headline">Package 2: <span>GET MOVING</span></h3>
        <p>10 MIN FREE coaching session with registered dietitian over the phone</p>
        <p>Purchase a full breakfast, lunch, and dinner plan and receive 50% off a body composition analysis with a registered dietitian. </p>
        <p>$20 off a 5-day plan or $30 off a 7 day plan.  Minimum 4 weeks order.</p>
        <a href="#" title="#" class="btn">Commit Now</a>
      </div>

      <div class="tier half step-up">
        <div class="hexagon">
          <i class="fa fa-calendar"></i>
        </div>
        <h3 class="headline">Package 3: <span>STEP IT UP</span></h3>
        <p>Three months of healthy meals</p>
        <p><strong>First Month:</strong> 7 days a week, 3 meals a day</p>
        <p><strong>Months 2 &amp; 3:</strong> 5 days a week, 3 meals a day</p>
        <p><strong>PLUS</strong> One Comprehensive Nutrition Consult and Body Composition Analysis with a Registered Dietitian</p>
        <p><strong>AND</strong> Two follow-up Body Composition Analyses with a Registered Dietitian</p>
        <a href="#" title="#" class="btn">Commit Now</a>
      </div>
    </div>
</section>
