<section id="get-moving" class="get-moving program page-content">
  <div class="container">
    <article>
      <h3>GET MOVING</h3>
      <ul>
        <li>10 MIN FREE coaching session with registered dietitian over the phone</li>
        <li>Purchase a full breakfast, lunch, and dinner plan and receive 50% off a body composition analysis with a registered dietitian. </li>
        <li>$20 off a 5-day plan or $30 off a 7 day plan.  Minimum 4 weeks order.</li>
      </ul>
    </article>
  </div>
</section>
