<section id="hero-carousel" class="hero owl-carousel owl-theme">
  <div class="item good-measure">
    <div class="slide-content">
      <h1 class="hero-headline">ALL IN GOOD MEASURE</h1>
      <h2 class="hero-subhead">Commit to Lean in 2015 and rely on 360-degree support from
      Good Measure Meals™ to achieve a healthier lifestyle!</h2>
      <a href="#" title="#" class="btn">Sign Up for Free</a>
    </div>
  </div>

  <div class="item join">
    <div class="slide-content">
      <h1 class="hero-headline">JOIN THE MOVEMENT</h1>
      <h2 class="hero-subhead">Strike a balance of physical activity and a well-rounded diet, then strike a pose in celebration of a whole new you!</h2>
      <a href="#" title="#" class="btn">Sign Up for Free</a>
    </div>
  </div>

  <div class="item culinary-art long-headline">
    <div class="slide-content">
      <h1 class="hero-headline">CULINARY ART + NUTRITION SCIENCE</h1>
      <h2 class="hero-subhead">With our nutritional coaching, Registered Dietitians will lead experiences to build a healthy foundation for you!</h2>
      <a href="#" title="#" class="btn">Sign Up for Free</a>
    </div>
  </div>

  <div class="item super-hero long-headline">
    <div class="slide-content">
      <h1 class="hero-headline">DO GOOD WHILE YOU'RE LIVING RIGHT</h1>
      <h2 class="hero-subhead">100% of GMM’s net proceeds fund local non-profit Open Hand Atlanta</h2>
      <a href="#" title="#" class="btn">Sign Up for Free</a>
    </div>
  </div>
</section>
