<section id="lets-go" class="lets-go page-content">
  <div class="container">
    <h1 class="section-headline">LET'S GO!</h1>

    <h2 class="subhead">Thinking about a making a commitment to an all new you? <span>There's no time like NOW!</span></h2>

    <h2 class="logo">Commit To Lean 2015</h2>
      <div class="tier">
        <h3 class="headline"><span>SNEAK PEEK</span></h3>
        <p>Sign up for a FREE 10 min consult with a registered dietitian to discuss how the plan aligns with dietary health goals</p>
        <a href="#" title="#" class="btn">Sign Up for Free</a>
      </div>
    </div>
</section>
