<section id="lets-go" class="lets-go page-content">
  <div class="container">
    <h1 class="section-headline">LET'S GO!</h1>

    <h2 class="subhead">Thinking about a making a commitment to an all new you? <span>There's no time like NOW!</span></h2>

    <h2 class="logo">Commit To Lean 2015</h2>
      <div class="tier">
        <h3 class="headline"><span>SNEAK PEEK</span></h3>
        <p>Sign up for a FREE 10 min consult with a registered dietitian to discuss how the plan aligns with dietary health goals</p>
        <a href="#" title="#" class="btn" data-toggle="modal" data-target="#signUp" >Sign Up for Free</a>
      </div>
    </div>
</section>
<div id="signUp" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="md-content">
                    <button style="position: absolute; right:0; background: transparent; color: #555; z-index: 5;" class="md-close">X</button>

                    <div id="mc_embed_signup">
                        <form action="form.php" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h2>Step 1: Get Started with Commit to Lean</h2>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                                    </label>
                                    <input placeholder="your@email.com" required type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-FNAME">First Name  <span class="asterisk">*</span>
                                    </label>
                                    <input pattern="[A-Za-z]" placeholder="first name" required type="text" value="" name="FNAME" class="required" id="mce-FNAME">
                                </div>
                                <div class="mc-field-group">
                                    <label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
                                    </label>
                                    <input pattern="[A-Za-z]+" placeholder="last name" required type="text" value="" name="LNAME" class="required" id="mce-LNAME">
                                </div>
                                <div class="mc-field-group size1of2">
                                    <label for="mce-PHONE">Phone  <span class="asterisk">*</span>
                                    </label>
                                    <div class="phonefield phonefield-us">
                                        (<span class="phonearea"><input class="phonepart required" pattern="[0-9]*" id="mce-PHONE-area" name="PHONE[area]" maxlength="3" size="3" value="" type="text"></span>)
                                        <span class="phonedetail1"><input class="phonepart required" pattern="[0-9]*" id="mce-PHONE-detail1" name="PHONE[detail1]" maxlength="3" size="3" value="" type="text"></span> -
                                        <span class="phonedetail2"><input class="phonepart required" pattern="[0-9]*" id="mce-PHONE-detail2" name="PHONE[detail2]" maxlength="4" size="4" value="" type="text"></span>
                                        <span class="small-meta nowrap">(###) ###-####</span>
                                    </div>
                                </div><div class="mc-field-group input-group">
                                <strong>I am interested in: </strong>
                                <ul><li><input type="checkbox" value="1" name="group[3753][1]" id="mce-group[3753]-3753-0"><label for="mce-group[3753]-3753-0">Meal Plans</label></li>
                                    <li><input type="checkbox" value="2" name="group[3753][2]" id="mce-group[3753]-3753-1"><label for="mce-group[3753]-3753-1">Nutrition Counseling</label></li>
                                    <li><input type="checkbox" value="4" name="group[3753][4]" id="mce-group[3753]-3753-2"><label for="mce-group[3753]-3753-2">Program Interest 3</label></li>
                                </ul>
                            </div>
                                <div class="mc-field-group input-group">
                                    <strong>I'd like to get special offers from: </strong>
                                    <ul><li><input type="checkbox" value="8" name="group[3757][8]" id="mce-group[3757]-3757-0"><label for="mce-group[3757]-3757-0">GMM Health Club Partners</label></li>
                                    </ul>
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_6d86833627f2be5bc2dfff895_9e45893cf2" tabindex="-1" value=""></div>
                                <div class="clear">
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>