<section id="eat-well" class="eat-well program page-content">
  <div class="container">
    <article>
      <h3 class="headline"><span>EAT WELL</span>Meal Plans</h3>
      <p>Yes, yummy can be healthy! Actually there is a science to it and our dietitian chef and executive chef painstakingly measure and balance our fresh, locally prepared meals so that your diet is always in line the recommendations from the Academy of Nutrition &amp; Dietetics.  In addition to saving you time in the kitchen, you will easily achieve a healthy amount of :</p>

      <ul>
        <li>Health promoting Carbohydrates to support sustained release of energy throughout the day</li>
        <li>Omega 3s for heart health</li>
        <li>Protein</li>
        <li>Fiber</li>
      </ul>

      <p>We don’t believe in deprivation,  so we support goals through a program that is as easy to maintain as an ongoing lifestyle choice. You will eat what you love AND achieve your health goals at the same time!</p>
      <a class="btn scroll-link" href="#lets-go" title="Let's Get Started">Let's Get Started</a>
    </article>
  </div>
</section>


<section id="stay-healthy" class="stay-healthy program page-content">
  <div class="container">
    <article>
      <h3 class="headline"><span>STAY HEALTHY</span>Nutrition &amp; Fitness Support</h3>
      <p>Running from carbs keeps you running on empty; running on empty can slow metabolism! According to the Center for Disease Control &amp; Prevention (CDC), at least of 2.5 hours of aerobic activity per week, coupled with strength training activities, will yield health benefits. Good Measure supports this practice, by preparing well-balanced nutritional meals, which include health promoting carbohydrates to keep you running strong!</p>
      <p>We understand getting started is the tricky part, and once weight-loss goals are reached, it’s common to lose a bit of steam to push onward. With sustainability top-of-mind, Good Measure Meals® has pioneered a program where registered dietitians and fitness partners join forces to empower you to make healthier lifestyle choices, while assuring you have the knowledge to back it up!</p>
      <p>Take the first step. Sign up for a FREE 10 min coaching session with our registered dietitian, and we’ll talk you through it!</p>
      <a class="btn scroll-link" href="#lets-go" title="Let's Get Started">Let's Get Started</a>
    </article>
  </div>
</section>

<section id="do-good" class="do-good program page-content">
  <div class="container">
    <article>
      <h3 class="headline"><span>DO GOOD</span>Community Impact</h3>
      <p>Our nutrition coaches are all smiles because they are the vital link between Good Measure Meals® &amp; Open Hand Atlanta. As a Good Measure Meals® customer, your dollars help bridge the gap between the socio-economic disparity that off-sets equal access to healthy food options.</p>
      <p>Our dietitians are strengthening our community  by implementing nutrition education programs and providing specialized consults for over 3,000 health-vulnerable individuals. With your help, Open Hand Atlanta delivers nearly 2 million medically-appropriate meals annually to our underserved and nutritionally at-risk neighbors.</p>
      <p>We’re advancing towards a healthier community together, and your personal journey with Good Measure Meals® provides the means for us to reach back and grab those in need to come along with us. Now that’s a reason to smile!</p>
      <a class="btn scroll-link" href="#lets-go" title="Let's Get Started">Let's Get Started</a>
    </article>
  </div>
</section>
