<section class="eat-well program page-content">
  <div class="container">
    <article>
      <h3 class="headline"><span>EAT WELL</span>Meal Plans</h3>
      <p>Yes, yummy can be healthy!  Actually there is a science to it and our dietitian chef and executive chef painstakingly measure and balance our fresh, locally prepared meals so that your diet is always in line the recommendations from the Academy of Nutrition & Dietetics.  In addition to saving you time in the kitchen, you will easily achieve a healthy amount of :</p>

      <ul>
        <li>Health promoting Carbohydrates to support sustained release of energy throughout the day</li>
        <li>Omega 3s for heart health</li>
        <li>Protein</li>
        <li>Fiber</li>
      </ul>

      <p>We don’t believe in deprivation, we support goals through a program that is as easy to maintain as an ongoing lifestyle choice.  You will eat what you love AND achieve your health goals at the same time!</p>
    </article>
  </div>
</section>


<section class="stay-healthy program page-content">
  <div class="container">
    <article>
      <h3 class="headline"><span>STAY HEALTHY</span>Fitness Support</h3>
      <p>Beyond weight loss support and convenient healthy meal options, GMM provides guidance on improving overall wellness. Sign up for free, and commit to a more active lifestyle with the help of GMM fitness experts and fitness club &amp; personal trainers partners.</p>

      <p>According to the Center of Disease Control (CDC) aerobic physical activity at a minimum of 2.5 hours per week coupled with 2 or more times a week of muscle-strengthening activities will yield health benefits.  For even more results, double time to 5 hours per week of moderate intensity.  People who commit to active lifestyles generally live longer, have a lower risk for heart disease, stroke, type 2 diabetes, depression, and some cancers.</p>
    </article>
  </div>
</section>

<section class="do-good program page-content">
  <div class="container">
    <article>
      <h3 class="headline"><span>DO GOOD</span>Nutrition Services</h3>
      <p>Sign up today for FREE services offered through our nutrition services team.  Attend free cooking classes, receive healthy tips &amp; recipes delivered right to your inbox, and a free 10 min phone consultation!  You can also access a more in depth experience by ordering one our Nutrition Service options.</p>

      <p>Our nutrition coaches are all smiles because they are at the center of world of good between Good Measure Meals &amp; Open Hand Atlanta.  As a Good Measure Meals customer, you help close the gap between socio-economic disparity that off-sets equal access to health options.</p>

      <p>Ready to join the Commit to Lean 2015 movement? Contact us today!</p>
    </article>
  </div>
</section>
