<section class="triptych page-content">
  <div class="container">
    <article class="preview">
      <img src="images/program-preview/eat-well.jpg" title="">
      <div class="preview-content">
        <h3 class="headline"><span>EAT WELL</span>Meal Plans</h3>
        <p>Can yummy be healthy? Our science says yes!</p>
        <a class="read-more" href="#" title="Read More">Read More <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </article>

    <article class="preview">
      <img src="images/program-preview/stay-healthy.jpg" title="">
      <div class="preview-content">
        <h3 class="headline"><span>STAY HEALTHY</span>Fitness Support</h3>
        <p>Our fitness experts are here to help you get moving</p>
        <a class="read-more" href="#" title="Read More">Read More <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </article>

    <article class="preview">
      <img src="images/program-preview/do-good.jpg" title="">
      <div class="preview-content">
        <h3 class="headline"><span>DO GOOD</span>Nutrition Services</h3>
        <p>Our registered dietitians are always serving up healthy support</p>
        <a class="read-more" href="#" title="Read More">Read More <i class="fa fa-long-arrow-right"></i></a>
      </div>
    </article>
  </div>
</section>
