<section class="step-up page-content">
  <div class="container">
    <h1 class="section-headline">STEP IT UP</h1>
    <div class="well">
      <p>Three months of healthy meals</p>

      <p><strong>First Month:</strong>    7 days a week, 3 meals a day</p>
      <p><strong>Months 2 &amp; 3:</strong>   5 days a week, 3 meals a day</p>
      <p><strong>PLUS</strong> One Comprehensive Nutrition Consult and Body Composition Analysis with a Registered Dietitian <strong>AND</strong> Two follow-up Body Composition Analyses with a Registered Dietitian</p>
    </div class="well">

    <div class="well">
      <p>If there is any doubt that “YUM” can be this healthy.  Then…</p>
      <p>You</p>
      <p>Underestimate</p>
      <p>Me!</p>
    </div class="well">
  </div>
</section>
