.hero {
  .item {
    @extend %hero;
    background-size: cover;
    height:95vh;
    padding: 10em 1em 8em;
    text-align: center;

    @include media($medium) {
      padding: 11em 1em;
    }

    @include media($large) {
      padding: 13em 0;
      max-height: 700px;
    }

    @include media($x-large) {
      padding: 12em 0;
    }

    &.join {
      background-image: url('../images/hero/slide1.jpg');
    }

    &.good-measure {
      background-image: url('../images/hero/slide3.jpg');
    }

    &.culinary-art {
      background-image: url('../images/hero/slide4.jpg');
    }

    &.super-hero {
      background-image: url('../images/hero/slide2.jpg');
    }
  }
}

//CAROUSEL
.owl-nav {
  div {
    background: transparent;
    color: $white;
    position: absolute;
    top: 50%;
    bottom: 0;

    &.owl-prev,
    &.owl-next {
      height: 48px;
      opacity: .45;
      width: 48px;

      &:hover {
        opacity: .75;
      }
    }

    &.owl-prev {
      left: 16px;

      &:after {
        font-family: FontAwesome;
        content: "\f104";
        display: inline-block;
        font-size: 5em;
        line-height: .5;
        padding-right: 3px;
        vertical-align: middle;
      }
    }

    &.owl-next {
      right: 16px;

      &:after {
        font-family: FontAwesome;
        content: "\f105";
        display: inline-block;
        font-size: 5em;
        line-height: .5;
        padding-right: 3px;
        vertical-align: middle;
      }
    }
  }
}

.owl-dots {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;

  .owl-dot {
    background: $light-gray;
    border-radius: 50%;
    display: inline-block;
    height: 8px;
    margin: 0 .5em;
    opacity: .45;
    width: 8px;

    &.active  {
      opacity: .75;
    }
  }
}
