.hero {
  .item {
    @extend %hero;
    background-size: cover;
    padding: 10em 1em 8em;
    text-align: center;

    @include media($medium) {
      padding: 11em 1em;
      height:95vh;
    }

    @include media($large) {
      padding: 13em 0;
      max-height: 700px;
    }

    @include media($x-large) {
      padding: 12em 0;
    }

    &.good-measure {
      background-image: url('../images/hero/slide3.jpg');

      .hero-subhead {
        max-width: 35rem;
      }
    }

    &.join {
      background-image: url('../images/hero/slide1.jpg');
    }

    &.culinary-art {
      background-image: url('../images/hero/slide4.jpg');
    }

    &.super-hero {
      background-image: url('../images/hero/slide2.jpg');
      padding: 6em 1em 8em;

      @include media($large) {
        padding: 8em 0 12em;
      }
    }
  }
}
