.sneak-peek {
  @include transition(bottom 0.25s linear);
  background: $green;
  border-top: 1px solid $white;
  bottom: 0;
  color: $white;
  left: 0;
  padding: .5em 0;
  position: fixed;
  right: 0;
  z-index: 100;

  @include media($small-only) {
    text-align: center;
  }

  &.nav-down {
    @include media($medium) {
      bottom: 0;
    }
  }

  &.nav-up {
    @include media($medium) {
      bottom: -63px;
    }
  }

  article {
    @include clearfix;
    margin: 0 auto;
    max-width: 750px;

    .copy {
      @include media($medium) {
        @include span-columns(6);
      }

      h3 {
        margin-bottom: 0;
      }

      p {
        font-size: .85em;
        line-height: 1;
        margin-bottom: 0;
      }
    }
  }


  .action {
    @include media($medium) {
      @include span-columns(6);
      padding: .45em 0 0;
      text-align: center;
    }
  }
}
