.step-up {
  border-top: 1px solid tint($black, 55%);
  background: tint($black, 85%);
  text-align: center;

  .well {
    padding: 1em;

    @include media($medium) {
      display: inline-block;
    }
  }
}
