%hero {
  background-position: center center;
  background-repeat: no-repeat;
  color: white;

  .hero-headline {
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 3.5em;
    line-height: 1;
    margin: 0 auto .15em;
    max-width: 38rem;

    @include media($medium) {
      font-size: 5em;
    }

    @include media($large) {
      font-size: 6.5em;
    }
  }
}
